<!DOCTYPE html>

<html ng-app="vk" lang="en">

<head>
	<meta charset="utf-8">
	<title>Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body class="" style="background-color: #ADECF9; height: 100%; width: 100%">
	<a style="display: block; width: 300px; height: 300px; position: absolute; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px;" href="/auth/vkontakte"><img src="/site/unnamed.png" alt=""></a>
</body>
</html>
